.box-container {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.box {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #a2def1;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}
.box:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.5);
}
.link {
    color: #6675f6;
    text-decoration: none;
}