.box-container {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.box {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #a2def1;
    border: 2px solid #6675f6;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.link {
    color: #6675f6;
    text-decoration: none;
}